@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me Home Page";
}


<h1>Johnny Paulsen ASP.NET Website</h1>
<img src="img/hiking.jpeg" alt="Hiking timpanogos with my wife" />
<h3>What I hope to get out of my IS 413 class</h3>
<p>
    I hope that I learn how to use visual studio to be able to create websites.
    I also want to get better at my knowledge of strongly
    typed languages like C#. Most of all I want to learn how to better teach myself
    different skills in every kind of language. In other words, I want to improve my
    ability to learn new concepts based on my previously gained knowledge.
</p>

<h3>Top 3 Job's After I Graduate</h3>

<ol>
    <li>Technology Consultant</li>
    <li>Data Analyst</li>
    <li>Back-end Web Development</li>
</ol>

<h3>IS 413 Grade Calculator</h3>


